#mycanvas{
                        border: 5px solid red;
                        background : url("https://tse1.mm.bing.net/th/id/OIP.GMm43wyovv3vxIOLDrvoCAHaEK?cb=ucfimg2ucfimg=1&rs=1&pid=ImgDetMain&o=7&rm=3");
                        -webkit-animation: animatedBackground 20s linear infinite;
                        background-repeat: repeat-y;
                        background-size: contain;
                        
                }

                @-webkit-keyframes animatedBackground {
                        from { background-position: 0 0; }
                        to { background-position: 0 2000px; }
                }

html {
  background-color: black; 
}
canvas {
  display:block;
  margin:30px auto 0;
  border:1px dashed #ccc;
  background:#000;
}
footer{
  color: aliceblue;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}
img{
  width: 20dvw;
  height: 65dvh;
  position: absolute;
  top: 10%;
  left: 5%;
}
#Space{
  position: absolute;
  left: 75%;

}
